/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
phpunit.xml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
json_to_string.php

/caddy
/data/caddy
/data/composer
/config/caddy
/config/composer
frankenphp
frankenphp-worker.php
